<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <globalization culture="auto" uiCulture="auto"/>
    <authentication mode="Forms">
      <forms name="LHMHelpDesk" loginUrl="~/Account/Login" timeout="1008000" protection="Encryption" path="/"/>
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2097151" executionTimeout="300"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <!--<customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
      </customHeaders>-->
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="ConfigSAP" value="~/ConfigSAP.xml"/>
  </appSettings>
</configuration>
